nav{
  color: white;
  display: flex;
  height: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  flex-wrap: wrap;
}

ul{
  height: 100%;
  display: flex;
  align-items: center;
  overflow: hidden;
}


a{
  color: white;
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  padding: 25px 10px;

  &:hover{
    background-color: rgb(69, 0, 134);
  }
}

button{
  font-size: 20px;
  color: white;
  background-color: rgb(153, 167, 152);
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
  cursor: pointer;
}

@media(max-width:870px){
ul{
  height: 30px;
}
a{
  padding: 0 10px;
}
}
