<!-- <section class="fund">
  <h1>Total Funds: 102000 BDT</h1>
</section>


<section class="crisis">
  <h1>Recent Crisis</h1>
  <div class="block">
    <img src="/disaster/flood/flood1.jpeg" alt="">
    <div>
      <table>
        <tr><td>crisis:</td><td>flood</td></tr>
        <tr><td>severity:</td><td>moderate</td></tr>
        <tr><td>date:</td><td>01/03/25</td></tr>
        <tr><td>location:</td><td>sylhet</td></tr>
        <tr><td>status:</td><td>ongoing</td></tr>
      </table>
    </div>
  </div>
</section> -->




<section>
  <fundFragment/>
</section>

<section>
  <crisisFragment/>
</section>

<section>
  <volunteerFragment/>
</section>



