<!-- add-product.component.html -->
<div class="container">
  <h2 class="title">Add New Product</h2>
  
  <form [formGroup]="inventory_form" (ngSubmit)="formSubmit()" class="add-product-form">
    <div class="form-group">
      <label for="name">Product Name</label>
      <input id="name" formControlName="product_name" type="text" placeholder="Enter product name"/>
    </div>

    <div class="form-row">
      <div class="form-group">
        <label for="price">Price (BDT)</label>
        <input id="price" formControlName="price" type="number" placeholder="Enter price">
      </div>
      <div class="form-group">
        <label for="quantity">Quantity</label>
        <input id="price" formControlName="quantity" type="number" placeholder="Enter quantity" />
      </div>
    </div>

    <div class="box">
        <div>
          <input type="radio" value="donated" id="donated" formControlName="inventory_type">
          <label for="donated">Donated</label>
        </div>
        <div>
          <input type="radio" value="purchased" id="purchased" formControlName="inventory_type">
          <label for="purchased">Purchased</label>
        </div>
    </div>
   


    <button type="submit" class="submit-btn">Add Product</button>
  </form>
</div>
