section{
  margin: 30px auto;
}

.list-wrapper{
  width: 95%;
  margin: 0 auto;
  overflow-x: auto;
}

.form-wrapper{
  width: 90%;
  margin: 0 auto;
}

.chart-wrapper{
  width: 80%;
  position: relative;
}

h1{
  font-size: 30px;
  text-align: center;
  margin: 10px 0;
}
